.windowTop {
  width: auto;
  background-color: #1b1b1b;
  display: flex;
  align-items: flex-start;
}

.redDot {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #ed6a5e;
  margin: 10px;
}

.yellowDot {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #f4be4f;
  margin: 10px;
  margin-left: 0px;
}

.greenDot {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #62c655;
  margin: 10px;
  margin-left: 0px;
}

.upperMenuContainer {
  width: 100%;
  display: flex;
  padding-bottom: 20px;
  padding-right: 5px;
  padding-top: 5px;
}

.button {
  padding: 8px !important;
  background-color: #242424 !important;
}

.viewIcon {
  height: 10px;
  width: auto;
  border: none;
  padding-right: 3px;
}

.secureIcon {
  height: 15px;
  width: auto;
  border: none;
  padding-left: 5px;
  padding-right: 15px;
}

.bottomIcon {
  height: 100%;
  width: auto;
}

.recording {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #d53a36;
  margin-right: 5px;
}

.windowBottom {
  position: fixed;
  bottom: 0px;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1b1b1b;
}
