.boldType {
  font-weight: bold !important;
}

.regularType {
  font-weight: lighter !important;
}

#container {
  background-color: #101010;
  color: whitesmoke;
}

@media only screen and (max-width: 600px) {
  #container {
    position: fixed;
    width: 80% !important;
    height: 80% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    font-size: larger;
  }
}
