.container {
  display: flex;
  justify-content: center;
}

.focusedFrameContainer {
  width: auto;
  background-color: black;
  display: flex !important;
}

.focusedFrameImage {
  height: auto;
  width: 60%;
}

.column {
  padding-left: 3px !important;
  padding-right: 3px !important;
  padding-bottom: 3px !important;
  padding-top: 0px !important;
}

#speakerSixColumns {
  padding-left: 15% !important;
  padding-right: 15% !important;
}

@media only screen and (max-width: 600px) {
  #speakerSixColumns {
    padding-left: 1px !important;
    padding-right: 1px !important;
    padding-top: 5% !important;
  }
  #speakerFourColumns {
    padding-left: 1px !important;
    padding-right: 1px !important;
    padding-top: 5% !important;
  }
  .focusedFrameImage {
    margin-top: 40%;
    height: auto;
    width: 95%;
  }

  .ui.container.seven {
    padding-bottom: 20% !important;
  }
}

.arrowIcon {
  height: 15px;
  width: auto;
  border: none;
  padding-right: 3px;
  margin-top: 100%;
}

@media only screen and (min-width: 1200px) {
  .ui.container.seven {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ui.grid.container {
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
}

@media not all and (min-resolution: 0.001dpcm) and (min-width: 992px) and (max-width: 1199px) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .ui.grid.container {
      padding-left: 11% !important;
      padding-right: 11% !important;
    }
  }
}
