.container {
  display: flex;
  justify-content: center;
}

.focusedFrameContainer {
  width: auto;
  background-color: #101010;
  display: flex !important;
}

.focusedFrameImage {
  height: auto;
  width: 70%;
}

.column {
  padding-left: 3px !important;
  padding-right: 3px !important;
  padding-bottom: 3px !important;
  padding-top: 0px !important;
}

#speakerSixColumns {
  padding-left: 15% !important;
  padding-right: 15% !important;
}

@media only screen and (max-width: 600px) {
  #speakerSixColumns {
    padding-left: 1px !important;
    padding-right: 1px !important;
    padding-top: 5% !important;
  }
  #speakerFourColumns {
    padding-left: 1px !important;
    padding-right: 1px !important;
    padding-top: 5% !important;
  }
  .focusedFrameImage {
    margin-top: 40%;
    height: auto;
    width: 95%;
  }
  .ui.container.grid.seven {
    padding-bottom: 20% !important;
  }

  .arrowIcon {
    height: 25px !important;
    width: auto;
    border: none;
    padding-right: 3px;
    margin-top: 20% !important;
    justify-self: flex-start;
  }
}

.arrowIcon {
  height: 15px;
  width: auto;
  border: none;
  padding-right: 3px;
  margin-top: 100%;
}

@media only screen and (min-width: 1600px) {
  .ui.container.grid.seven {
    width: 70% !important;
  }
  .focusedFrameImage {
    height: auto;
    width: 70% !important;
  }
}

@media only screen and (min-width: 1550px) and (max-width: 1599px) {
  .ui.container.grid.seven {
    width: 75% !important;
  }
  .focusedFrameImage {
    height: auto;
    width: 75% !important;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1549px) {
  .ui.container.grid.seven {
    width: 80% !important;
  }
  .focusedFrameImage {
    height: auto;
    width: 80% !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1499px) {
  .ui.grid.container.seven {
    width: 90% !important;
    align-content: center;
  }
  .focusedFrameImage {
    height: auto;
    width: 90% !important;
  }
}

@media not all and (min-resolution: 0.001dpcm) and (min-width: 1600px) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .ui.grid.container.seven {
      width: 70% !important;
    }
    .focusedFrameImage {
      height: auto;
      width: 70% !important;
    }
  }
}

@media not all and (min-resolution: 0.001dpcm) and (min-width: 1550px) and (max-width: 1599px) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .ui.grid.container.seven {
      width: 75% !important;
    }
    .focusedFrameImage {
      height: auto;
      width: 75% !important;
    }
  }
}

@media not all and (min-resolution: 0.001dpcm) and (min-width: 1500px) and (max-width: 1549px) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .ui.grid.container.seven {
      width: 80% !important;
    }
    .focusedFrameImage {
      height: auto;
      width: 80% !important;
    }
  }
}

@media not all and (min-resolution: 0.001dpcm) and (min-width: 992px) and (max-width: 1499px) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .ui.grid.container.seven {
      width: 70% !important;
    }
    .focusedFrameImage {
      height: auto;
      width: 70% !important;
    }
  }
}

@media not all and (min-resolution: 0.001dpcm) and (max-width: 600px) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .ui.grid.container.seven {
      width: auto !important;
    }
  }
}
