.container {
  display: flex;
  justify-content: center;
}

.focusedFrameContainer {
  width: auto;
  border: solid 5px greenyellow;
  background-color: white;
  display: flex !important;
}

.focusedFrameImage {
  height: 30%;
  width: auto;
}
